* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	color: #fff;
	font-size: 24px;
}
.content_wrapper {
	flex: 1 0 auto;
	height: calc(100%-100px);
}
.footer {
	flex: 0 0 auto;
}
.header, .footer {
	height: 100px;
	background-color: #736356;
	padding: 25px;
}
[class^="aside-"] {
	width: 180px;
	background-color: #7da7d9;
	height: 100%;
	padding: 25px;
}
.content {
	color: #000;
	margin: 0 180px;
	padding: 15px 40px;
	font-size: 16px;
	flex: 1 0 auto;
}
.aside-1 {
	float: left;
}
.aside-2 {
	float: right;
}
.header {
	padding-top: 45px;
}
