* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
.rectangle {
	height: 260px;
	width: calc((100% - 200px)/6);
	background-color: #000;
	margin: 0 15px;
	float: left;
	margin-bottom: 60px;
}
.wrapper__inner {
	overflow: hidden;
}
