@media only screen and (min-width : 993px) {
	.gallery figcaption {
		position: absolute;
		top: 8.6%;
		left: 8.8%;
		bottom: 8.6%;
		right: 8.8%;
		opacity: 0;
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
		transition: opacity 0.5s, -webkit-transform 0.5s;
		-moz-transition: opacity 0.5s, transform 0.5s, -moz-transform 0.5s;
		transition: opacity 0.5s, transform 0.5s;
		transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s;
		-webkit-transform: scale3d(1.4,1.4,1);
		-moz-transform: scale3d(1.4,1.4,1);
		transform: scale3d(1.4,1.4,1);
	}
	.center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
	}
	.gallery figure:hover figcaption {
		background-color: rgba(30,145,138,.85);
	}
	.gallery figure:hover figcaption,
	.gallery figure:hover p,
	.gallery figure:hover h4 {
		opacity: 1;
		-webkit-transform: scale3d(1,1,1);
		-moz-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1);
	}
	.gallery figcaption p {
		font-size: 13px;
		line-height: 21px;
		color: #fff;
		opacity: 0;
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
		transition: opacity 0.5s, -webkit-transform 0.5s;
		-moz-transition: opacity 0.5s, transform 0.5s, -moz-transform 0.5s;
		transition: opacity 0.5s, transform 0.5s;
		transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s;
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);
	}
	.gallery figcaption h4 {
		color: #fff;
		font-size: 16px;
		margin-bottom: 10px;
		opacity: 0;
		-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
		transition: opacity 0.5s, -webkit-transform 0.5s;
		-moz-transition: opacity 0.5s, transform 0.5s, -moz-transform 0.5s;
		transition: opacity 0.5s, transform 0.5s;
		transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s, -moz-transform 0.5s;
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);
	}
}
@media handheld and (orientation: landscape) and (max-width: 992px){
	.pre_heading, .sub_heading, .heading::after {
		display: none;
	}
	.heading {
		margin-bottom: 5%;
	}
	.hiro_image {
		max-height: 95vh;
	}
}
@media only screen and (max-width : 1380px) {
	.wrapper {
		width: 100%;
	}
	.services {
		padding-left: 40px;
	}
	.header {
		padding: 0 40px;
	}
}
@media only screen and (max-width : 1200px) {
	.service_description {
		max-width: 50%;
	}
	.service_item {
		margin: 0 8% 2% 0;
	}
}
@media only screen and (max-width : 992px) {
	.about {
		padding: 5%;
	}
	.services::before {
		width: 100%;
		opacity: .1;
	}
	.service_description {
		max-width: 100%;
		text-align: center;
	}
	.service_description h3::after {
		left: 50%;
		transform: translateX(-50%);
	}
	.service_item {
		text-align: left;
		max-width: 42%;
	}
	.gallery figure {
		width: 50%;
	}
	.button {
		background-color: #cfc91d;
	}
	.button::before {
		display: none;
	}
	.button:hover::before {
		display: none;
	}
	.button:hover > * {
		color: inherit;
	}
	.gallery figcaption {
		padding: 5%;
	}
	.gallery figcaption p {
		margin-bottom: 0;
		line-height: 1.5em;
		font-size: 13px;
	}
	.gallery figcaption h4 {
		color: #7e8287;
		font-size: 16px;
	}
}
@media only screen and (max-width : 768px) {
	input, textarea, label {
		line-height: 1em;;
		padding-top: 10%;
	}
	.heading h2 {
		font-size: 40px;
		line-height: 1em;
		margin-bottom: .5em;
	}
	.pre_heading {
		font-size: 20px;
		margin-bottom: 1em;
	}
	.sub_heading {
		font-size: 15px;
	}
	h3 {
		font-size: 30px;
	}
	.about p, .services p, .my_work p, .contact p {
		font-size: 14px;
	}
	.burger {
		display: block;
	}
	.main_menu ul {
		position: absolute;
		left: -40%;
		top: 100%;
		height: 100vh;
		background-color: #2c918e;
		max-width: 250px;
		transition: left .5s ease-in-out;
	}
	.main_menu li a::before {
		top: 0;
		left: -4px;
		border-top: none;
		border-right: 4px solid #cfc91d;
		background-color: rgba(255,255,255,.1);
		width: 0;
	}
	.main_menu li a:hover::before {
		width: 100%;
	}
	.main_menu ul.show {
		left: 0;
	}
	.main_menu ul li {
		display: block;
	}
	.header h1 {
		text-align: center;
	}
	.overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.7);
		z-index: 9;
		display: none;
	}
	.header {
		z-index: 10;
	}
	.about h3 + p {
		margin-bottom: 30px;
	}
	.description_item {
		max-width: 100%;
		width: 100%;
		padding: 0
	}
	.description_item + .description_item {
		border: none;
	}
	.gallery figcaption {
		padding: 5%;
	}
	.gallery figcaption p {
		margin-bottom: 0;
		line-height: 1.5em;
	}
	.gallery figcaption h4 {
		color: #7e8287;
		font-size: 16px;
	}
}
@media only screen and (max-width : 480px) {
	.gallery figure {
		float: none;
		width: 100%;
	}
	.service_item {
		display: block;
		max-width: 100%;
		text-align: center;
		margin: 0;
	}
	.service_item::before {
		margin: 0 auto 10px;
	}
	.service_items {
		padding-bottom: 5px;
	}
	.heading {
		max-width: 90vw;
	}
	.heading h2 {
		font-size: 35px;
	}
	.main p span {
		font-size: 1em;
	}
	h3::after {
		font-size: 14px;
	}
}
@media only screen and (max-width : 320px) {
	.heading h2 {
		font-size: 30px;
	}
	.pre_heading {
		font-size: 18px;
		margin-bottom: 1em;
	}
	.sub_heading {
		font-size: 12px;
	}
	h3 {
		font-size: 25px;
	}
	.about p, .services p, .my_work p, .contact p {
		font-size: 14px;
	}
}
